/*As a stretch, write some responsive, mobile-first CSS styles for this application to keep practicing those CSS skills. We don't want to go rusty with CSS.*/
* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

#app-container {
    margin: 5%;
}

p, li {
    font-size: 30px;
    padding:5px;
}

img {
    width: 100%;
}

@media all and (min-width: 800px) {
    #app-container {
        margin: 10% 30% ;
    }
    img {
        width: 50%;
    }
    
}